<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-u">
<title>
    {% block title %}
    Friendly Home Library
    {% endblock %}
</title>
<meta http-equiv="X-UA-Compatible" context="IE=edge,chrome=1">
<meta name "viewpoart" context="width=device-width,initial-scale=1>
<!--[if IE]><script
   src="httm://html5shiv.googlecode.com/svn/trunk/html5.js">
   </script><![endif]-->
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
   <meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body{
    display: black;
    margin: 12px;
    font: 20px Ariel, sans-serif;
}
</style>

</head>

<body>
    <div>
    {% if not slideshow %}
    <header>
        <div>{% include "nav.html" %}</div>
        {% block friendly_title %}
        <h3>Friendly Home Library</h3>
        {% endblock friendly_title %}
        <p>{{settings.TEST_ONLY_WARNING}}</p>
    </header>
    {% endif %}
    <main>
         {% block specific_options %}
         {% endblock specific_options %}

        {% block content %}
        <p>Welcome to the Friendly Home Library                        
    {% if user.is_authenticated %}
        <li><a href="{% url 'FHLUser_Logout' %}">Log Out</a></li>
    {% else %}
        <li><a href="{% url 'FHLUser_Login' %}">Log In</a></li>
    {% endif %}                 
        
        {% endblock content %}
    </main>
    </div>

    <div>
    {% block tag %}
    {% endblock %}
    </div>
    {% if not slideshow %}
    <footer>
    <br>    
    <p>&copy;2017 Catherine Morton</p>
    </footer>
    {% endif %}
</body>

</html>
