<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-u">
<title>
    {% block title %}
    Friendly Home Library
    {% endblock %}
</title>
<meta http-equiv="X-UA-Compatible" context="IE=edge,chrome=1">
<meta name "viewpoart" context="width=device-width,initial-scale=1>
<!--[if IE]><script
   src="httm://html5shiv.googlecode.com/svn/trunk/html5.js">
   </script><![endif]-->
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
   <meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body{
    display: black;
    margin: 12px;
    font: 20px Ariel, sans-serif;
}
</style>

</head>

<body>
    <div>
    {% if not slideshow %}
    <header>
        <h1>Friendly Home Library</h1>
        <div>{% include "nav.html" %}</div>
        <div>
            {% if user.is_authenticated %}
               <p><a href="{% url 'user_page' %}">Channels: {{user.username}}</a></p>
                {% if perms.FHLBuilder.collection_builder %}
                <section>
                    <li><a href="{% url 'builder_collection_create' %}">Create Collection</a></li>
                    <li><a href="{% url 'builder_diagnostics' %}">Diagnostics</a></li>
                </section>
                {% endif %}
               
            {% else %}
               <p>Anonymous user</p>
            {% endif %}
        </div>
    </header>
    {% endif %}
    <main>
        {% block content %}
        <br>Welcome to the Friendly Home Library

        <div class="status row">
        <div class="offset-by-eight four columns">
        <ul id="displaylist">
            {% if user.is_authenticated %}
            <li><a href="{% url 'FHLUser_Logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'FHLUser_Login' %}">Log In</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
                        
    {% endblock %}
    </main>
    </div>

    <div>
    {% block tag %}
    {% endblock %}
    </div>
    {% if not slideshow %}
    <footer>
    <br>    
    <div>{% include "nav.html" %}    </div>
    <p>&copy;2017 Catherine Morton</p>
    </footer>
    {% endif %}
</body>

</html>
