<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-u">
<title>
    {% block title %}
Friendly Home Library
    {% endblock %}
</title>
<meta http-equiv="X-UA-Compatible" context="IE=edge,chrome=1">
<meta name "viewpoart" context="width=device-width,initial-scale=1>
<!--[if IE]><script
   src="httm://html5shiv.googlecode.com/svn/trunk/html5.js">
   </script><![endif]-->
</head>

<body>
    <div>
        <!-- container -->
        <header>
            <h1>Friendly Home Library</h1>
        </header>
        <main>
            {% block content %}
            <br>Welcome to the Friendly Home Library
            
                <li><a href="{% url 'builder_collection_create' %}">Add Collection</a></li>
            
            {% endblock %}
        </main>
    </div>
    <!--container-->
    <footer>
    <br>
    <div>
    <nav>
        
            <a href="{% url 'builder_common_list' %}">All Media</a>
            <a href="{% url 'builder_song_list' %}">Songs</a>
            <a href="{% url 'builder_tag_list' %}">Tags</a>
            <a href="{% url 'builder_collection_list' %}">Collections</a>
        
    </nav>
    </div>
        
        <p>
            &copy;2017
            Catherine Morton
        </p>
        <p>
            Created for testing only
        </p>
    </footer>
</body>

</html>
