<nav>
<div class="container">    
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'builder_collection_list' %}">Collections</a>    
    <a href="{% url 'builder_tag_list' %}">Tags</a>
    <a href="{% url 'artist_list' 'actor' %}">Actors</a>
    <a href="{% url 'artist_list' 'director' %}">Directors</a>
    <a href="{% url 'artist_list' 'musician' %}">Musicians</a>
    <a href="{% url 'builder_all_list' %}">All</a>
    {% if user.is_authenticated %}
        <a href="{% url 'user_page' %}">Channels: {{user.username}}</a>
    {% endif %}
    {% if perms.FHLBuilder.collection_builder %}    
    <div class="dropdown">
         <button class="dropbtn">Builder</button>
         <div class="dropdown-content">
             <a href="{% url 'builder_collection_create' %}">Create Collection</a>
             <a href="{% url 'builder_diagnostics' %}">Diagnostics</a>
             <a href="{% url 'builder_musician_remove' %}">Remove Musician</a>
             <a href="{% url 'builder_collection_remove' %}">Remove Collection</a>
             <a href="{% url 'builder_director_remove' %}">Remove Director</a>
             <a href="{% url 'builder_actor_remove' %}">Remove Actor</a>
             <a href="{% url 'builder_tag_remove' %}">Remove Tag</a>
             <a href="{% url 'builder_picture_remove' %}">Remove Picture</a>
             <a href="{% url 'builder_song_remove' %}">Remove Song</a>
             <a href="{% url 'builder_movie_remove' %}">Remove Movie</a>
    </div></div> 
    {% endif %}               
  

</div>
    
    
</nav>
