<nav>
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'builder_song_list' %}">Song</a>
    <a href="{% url 'builder_movie_list' %}">Movie</a>
    <a href="{% url 'builder_concert_list' %}">Concert</a>
    <a href="{% url 'builder_documentary_list' %}">Documentary</a>
    <a href="{% url 'builder_TV_list' %}">TV</a>
    <a href="{% url 'builder_miniseries_list' %}">Mini-Series</a>
    <a href="{% url 'builder_minimovie_list' %}">Mini-Movie</a>
    <a href="{% url 'builder_tag_list' %}">Tag</a>
    <a href="{% url 'builder_actor_list' %}">Actor</a>
    <a href="{% url 'builder_director_list' %}">Director</a>
    <a href="{% url 'builder_musician_list' %}">Musician</a>
    <a href="{% url 'builder_collection_list' %}">Collection</a>
</nav>
