{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{ block.super }} generated channel
{% endblock %}

{% block content %}
<h3>{{title}}</h3>
<div>
<form action="" method = "post">
    {% csrf_token %}    
    <fieldset>
    <legend>Pick your playlist</legend>    
    {{form.as_p}}
        {% if rlist %}
            <button type="submit">Rerun Query</button>
            <button type="submit" name='save-query'>Accept results</button>
        {% else %}
            <button type="submit">Run Query</button>
        {% endif %}
    </fieldset>
</form>
</div>
<p>{{message}}</p>
<div>
{% for file,path in rlist %}
    <li><a href="{{ obj.get_absolute_url }}">{{path|title}}</a></li>
{% endfor %}
</div>
{% endblock %}
