<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-u">
<title>
    {% block title %}
    Friendly Home Library
    {% endblock %}
</title>
<body>
{% block extrastyle %}
<style type="text/css">
.collapsibleList li > input + * {
 display: none;
}
 
.collapsibleList li > input:checked + * {
 display: block;
}

.collapsibleList li > input {
 display: none;
}

.collapsibleList label {
 cursor: pointer;
}
 </style>

{% endblock extrastyle %}

{% block friendly_title %}
<h2>Friendly Home Library: Full Discography</h2>
{% endblock friendly_title %}

{% block content %}
<br>Written to file: {{my_file}}

{% for musician in mlist %}
{% if musician.albums.count %}

<ul class="collapsibleList">
 <li>
  <label for="{{musician.slug}}">{{musician.fullName}}</label>
  <input type="checkbox" id="{{musician.slug}}"/>
  <ul>
        {% for album in musician.albums.all %}
            <li><a href="{{album.get_absolute_url}}">{{album.title}}</a></li>
        {% endfor %}
  </ul>
 </li>
</ul>

{% endif %}

{% endfor %}

{% endblock %}

</body>
</html>
