{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{ block.super }} Random Cartoon channel
{% endblock %}

{% block content %}
<h3>Create a random list</h3>
<div>
<form action="" method = "post">
    {% csrf_token %}    
    <fieldset>
    <legend>Pick your playlist</legend>    
    {{form.as_p}}
    <button type="submit">Run Query</button>
    <button type="submit" name='save-query'>Save to play Results</button>
    </fieldset>
</form>
</div>
<p>{{message}}</p>
<div>
{% for obj in rlist %}
<li><a href="{{ obj.get_absolute_url }}">{{obj.title|title}}</a></li>
{% endfor %}
</div>
{% endblock %}
