{% extends parent_template|default:"FHLReader/base_reader.html" %}

{% block title %}
{{ block.super }} User {{user}}
{% endblock %}

{% block content %}

<h3>{{me.username|title}}'s Page</h3>
<ul>

{% if mySongs %}
    <li><a href="{% url 'user_songs' 'liked' %}">My liked Songs</a></li>
    <li><a href="{% url 'user_songs' 'loved' %}">My loved Songs</a></li>
{% endif %}

{% if myVideos %}
    <li><a href="{% url 'user_videos' 'liked' %}">My liked Videos</a></li>
    <li><a href="{% url 'user_videos' 'loved' %}">My loved Videos</a></li>
{% endif %}

{% if myPictures %}
    <li><a href="{% url 'user_pictures' 'liked' %}">My liked Pictures</a></li>
    <li><a href="{% url 'user_pictures' 'loved' %}">My loved Pictures</a></li>
{% endif %}

<li><a href="{% url 'user_channels' %}">Channels</a></li>
</ul>
<br>
<form action = "" method = "get">
{% csrf_token %}    
    <fieldset>
    <legend>Queries (warning, these are slow)</legend>    

    {% if mySongs %}
        <button type="submit" name='my-songs'>Update My Songs</button>
    {% else %}
        <button type="submit" name='my-songs'>Find My Songs</button>
    {% endif %}

    {% if myVideos %}
        <button type="submit" name='my-videos'>Update My Videos</button>
    {% else %}
        <button type="submit" name='my-videos'>Find My Videos</button>
    {% endif %}

    {% if myPictures %}
        <button type="submit" name='my-pictures'>Update My Pictures</button>
    {% else %}
        <button type="submit" name='my-pictures'>Find My Pictures</button>
    {% endif %}

    
    </fieldset>
</form>

{% endblock %}
