{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{ block.super }} - Movies
{% endblock %}

{% block content %}
{% if movielist %}
    <h4>{{listTitle}}</h4>
    <ul id="playlist">
    {% for movie in movielist %}
        <li><a href="{{ movie.get_absolute_url }}">{{movie.title|title}}</a></li>
    {% endfor %}
    </ul>

{% endif %}


{% if movielist2 %}

    <h4>{{listTitle2}}</h4>

    <ul id="playlist">
    {% for movie in movielist2 %}
        <li><a href="{{ movie.get_absolute_url }}">{{movie.title|title}}</a></li>
    {% endfor %}
    </ul>

{% endif %}
{% endblock %}
