{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Collection List
{% endblock %}

{% block content %}

<h2>
{{collection.name}}</h2>


<section>
<ul>
{% for obj in collection.song_set.all %}
<li><a href="{{obj.get_absolute_url}}">
{{obj.title}}
</a></li>
{% endfor %}
</ul>
</section>

<ul>
    <li><a href="{{collection.get_update_url}}">Edit Collection</a></li>
    <li><a href="{{collection.get_delete_url}}">Delete Collection</a></li>
</ul>
{% endblock %}
