{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{ block.super }} - Library Collections {{Collection.objects.count}}
{% endblock %}

{% block content %}


{% if perms.FHLBuilder.collection_builder %}
<section>
<p><a href="{% url 'builder_collection_create' %}">Create Collection</a></p>
</section>
{% endif %}

<div>
    {% include "FHLBuilder/collection_select.html" %}
</div>

<section>
<h4>{{listkind|title}} Collections</h4>
<ul id='filelist'>    
{% for collection in clist %}
<li><a href="{{collection.get_absolute_url}}"> {{collection.title|title}}</a></li>
{% endfor %}
</ul>
</section>


{% endblock %}
