<form method="get" action="" >
<fieldset>
    <legend>Categories</legend>    
    {% csrf_token %}
    <table>
    {% for x,y in choices %}
        {% ifequal x 'TV' %}
            <br>
        {% endifequal %}
        {% ifequal listkind x %}
            <input type="radio" name="kind" value={{x}} checked>{{y}} 
        {% else %}
            <input type="radio" name="kind" value={{x}}>{{y}} 
        {% endifequal %}
    {% endfor %}
    </table>
    <p><input type="submit" value="Apply"></p>

</fieldset>    
</form>

