{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Collection Detail
{% endblock %}

{% block friendly_title %}
<h3>Friendly Collection: {{title|title}} </h3>
{% endblock %}

{% block specific_options %}
    {% include "FHLBuilder/collection_options.html" %}
{% endblock specific_options %}

{% block content %}

{% if not slideshow %}

{% if allowChoice %}
<div>
    {% include "FHLBuilder/collection_select.html" %}
</div>
{% endif %}


{% endif %}

    <section>
    <ul>
    {% if songlist %}
        {% include "FHLBuilder/song_playlist.html" %}
    {% endif %}
    {% if movielist %}
        {% include 'FHLBuilder/movie_playlist.html' %}
    {% endif %}
    {% if picture %}
        {% if slideshow %}
            {% include "FHLBuilder/picture_show.html" %}
        {% else %}
            {% include "FHLBuilder/picture_list.html" %}
        {% endif %}        
    {% endif %}
    </ul>
    </section>

    {% if perms.FHLBuilder.collection_builder %}

        {% if update %}
            <br>
            <a href="{{ update.get_update_url }}">Update Collection (setinfo or rescan)</a>
        {% endif %}

    {% else %}

        {% if user.is_authenticated and allow_tag %}
            <section>
            <form method="get">
            {% csrf_token %}
            <fieldset>
                <legend>Tags (for all members of collection)</legend>    
                {% include "FHLBuilder/tag_select.html" %}
            </fieldset>
            </form>
            </section>
        {% endif %}
    {% endif %}

{% endblock content %}
