{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{ block.super }} - List of Collections
{% endblock %}

{% block friendly_title %}
<h3>Friendly Home {{title}} {{clist.objects.count}}</h3>
{% endblock friendly_title %}

{% block content %}
<div>
    {% include "FHLBuilder/collection_select.html" %}
</div>

<section>
    {% for x,y in choices %}
    {% ifequal x listkind %}
        <h4>{{y}} Collections</h4>
    {% endifequal %}
    {% endfor %}
<ul id='filelist'>    
{% for collection in clist %}
<li><a href="{{collection.get_absolute_url}}"> {{collection.title|title}}</a></li>
{% endfor %}
</ul>
</section>


{% endblock %}
