
<form method="get" action="" >
<fieldset>
    <legend>Preferences</legend>    
    {% csrf_token %}
    {% if love %}
    <input type="radio" name="pref" value="loved" checked>Love<br>
    {% else %}
    <input type="radio" name="pref" value="loved">Love<br>
    {% endif %}

    {% if like %}
    <input type="radio" name="pref" value="liked" checked>Like<br>
    {% else %}
    <input type="radio" name="pref" value="liked">Like<br>
    {% endif %}

    {% if dislike %}
    <input type="radio" name="pref" value="disliked" checked>Dislike<br>
    {% else %}
    <input type="radio" name="pref" value="disliked">Dislike<br>
    {% endif %}
    <br><input type="submit" value="Apply">
</fieldset>    
</form>
