{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Movie
{% endblock %}

{% block content %}

<h2>Movie: {{movie.title}}</h2>

<section>
<ul>
    {% if movie.year > 0 %}
        <li>Year: {{movie.year}}</li>
    {% endif %}
</ul>
{% if user.is_authenticated %}

{% endif %}
</section>

<section>    
{% if movie.tags.count %}
<h3>Tags</h3>
<ul>
{% for tag in movie.tags.all %}
<li><a href="{{tag.get_absolute_url}}">{{tag.name}}</a></li>
{% endfor %}
</ul>
{% endif %}
</section>

<section>    
{% if movie.movie_directors.count %}
<h3>Directors</h3>
<ul>
{% for director in movie.movie_directors.all %}
<li><a href="{{director.get_absolute_url}}">{{director.fullName}}</a></li>
{% endfor %}
</ul>
{% endif %}
</section>

<section>    
{% if movie.movie_actors.count %}
<h3>Actors</h3>
<ul>
<!--list of objects related to tag -->
{% for actor in movie.movie_actors.all %}
<li><a href="{{actor.get_absolute_url}}">{{actor.fullName}}</a></li>
{% endfor %}
</ul>
{% endif %}
</section>

{% if user.is_authenticated %}
<section>
{% include "FHLBuilder/tag_select.html" %}
</section>
<section>
{% include "FHLBuilder/director_select.html" %}
</section>
<section>
{% include "FHLBuilder/actor_select.html" %}
</section>
<section>
{% include "FHLBuilder/likesandloves.html" %}        
</section>
<section>
{% include "FHLBuilder/object_update.html" %}        
</section>

{% endif %}

{% include "FHLBuilder/play_movie_options.html" %}

{% endblock %}
