{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Musician
{% endblock %}

{% block content %}

<h2>{{musician.fullName}}</h2>

{% if musician.albums.count %}
<section>
<h3>Albums associated with {{musician.fullName}}</h3>
<ul>
{% for album in musician.albums.all %}
<li><a href="{{album.get_absolute_url}}">{{album.title}}</a></li>
{% endfor %}
</ul>
</section>
{% endif %}


{% if musician.songs.count %}
<section>
<h3>Songs associated with {{musician.fullName}}</h3>
<ul>
{% include "FHLBuilder/song_playlist.html" %}</ul>
</section>
{% endif %}


{% if musician.concerts.count %}
<section>
<h3>Concerts and videos associated with {{musician.fullName}}</h3>
<ul>
{% for video in musician.concerts.all %}
<li><a href="{{video.get_absolute_url}}">{{video.title}}</a></li>
{% endfor %}
</ul>
</section>
{% endif %}

{% endblock %}
