{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Picture
{% endblock %}

{% block friendly_title %}
<h3>Friendly Picture: {{picture.title|title}}</h3>
{% endblock %}


{% block content %}

<section>
{% if picture.year %}
    <li>Year: {{ picture.year }}</li>
{% endif %}
<li>file: {{picture.friendly_name}}</li>
<li>Date added: {{picture.date_added}}</li>
{% if picture.data1 %}
    <li> {{ picture.data1}}</li>
{% endif %}
{% if picture.data2 %}
    <li> {{ picture.data2}}</li>
{% endif %}
{% if picture.data3 %}
    <li> {{ picture.data2}}</li>
{% endif %}
{% if picture.data4 %}
    <li> {{ picture.data4}}</li>
{% endif %}

{% load static %}
<img src="{% static playit %}" style="width:100%">

</section>


<section>
{% if picture.tags.count %}
    <h3>Tags</h3>
    <ul id='filelist'>
    {% for tag in picture.tags.all %}
    <li><a href="{{tag.get_absolute_url}}">{{tag.name}}</a></li>
    {% endfor %}
    </ul>
{% endif %}
</section>

{% if user.is_authenticated %}
<section>
    {% include "FHLBuilder/object_update.html" %}        
</section>

{% endif %}
{% endblock %}
