{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Picture
{% endblock %}

{% block content %}

<h2>{{picture.title}}</h2>
{% load static %}
<div>full file {% static playit %}</div>
<img src="{% static playit %}" style="width:100%">
<section>
{% if picture.tags.count %}
<h3>Tags</h3>
<ul id='filelist'>
{% for tag in picture.tags.all %}
<li><a href="{{tag.get_absolute_url}}">{{tag.name}}</a></li>
{% endfor %}
</ul>
{% endif %}
</section>

{% if user.is_authenticated %}
<section>
{% include "FHLBuilder/tag_select.html" %}
</section>
<section>
{% include "FHLBuilder/likesandloves.html" %}        
</section>
<section>
{% include "FHLBuilder/object_update.html" %}        
</section>
{% endif %}

{% if user.is_authenticated %}
<section>
<form method="get">
{% csrf_token %}    
<fieldset>
    <legend>Tags</legend>    
    {% include "FHLBuilder/tag_select.html" %}
</fieldset>
</form>
<section>
    {% include "FHLBuilder/likesandloves.html" %}        
    {% include "FHLBuilder/object_update.html" %}        
</section>

{% endif %}


{% endblock %}
