<section>
<a href="{{ picture.get_absolute_url }}">{{picture.title|title}}</a>
{% if picture.year %}
    <li>Year: {{ picture.year }}</li>
{% endif %}
<li>Date added: {{picture.date_added}}</li>
{% if picture.data1 %}
    <li> {{ picture.data1}}</li>
{% endif %}
{% if picture.data2 %}
    <li> {{ picture.data2}}</li>
{% endif %}
{% if picture.data3 %}
    <li> {{ picture.data2}}</li>
{% endif %}
{% if picture.data4 %}
    <li> {{ picture.data4}}</li>
{% endif %}
<br>
</section>

<form action="" method = "get">
    {% csrf_token %}
    <fieldset>
    <legend>PlayBack</legend>    
    <button type="submit" name='slideshow' value={{index}}>Slideshow</button>
    <button type="submit" name='CastAll' value={{index}}>Cast All</button>
    {% for a,b in ccasts %}            
        <button type="submit" name='cast' value="{{forloop.counter0}}">Cast {{b}}</button>
    {% endfor %}
    <button type="submit" name='cPrev' value={{index}}>Previous</button>
    <button type="submit" name='cNext' value={{index}}>Next</button>
    </fieldset>    
</form>

{% if use_all %}

{% else %}
   {% include "FHLBuilder/kodi_buttons_get.html" %}
{% endif %}

<span style="float:left;">{{index}} / {{pictureCount}}</span>  
<span style="float:right;">{{picture.friendly_name}}</span>
<br>
<div>
{% load static %}
    <img src="{% static filename %}" style="width:100%" >
</div>
<br>
