
<script>
function myFunction(please_stop){
    var mtimer = setInterval( function(){ clickIt(mtimer); },4000 )
    if(please_stop === undefined){
        clearInterval(mtimer);
    }
}    
function clickIt(mtimer){ 
    var nc = document.getElementById('nextone');
    nc.click();
    clearInterval(mtimer)
    }
</script>

<form action="" method = "get">
{% csrf_token %}
<button id='nextone' type="submit" name='sNext' value={{index}} hidden>Next</button>
</form>
<span style="float:left;">{{index}} / {{pictureCount}}</span>  
<span style="float:right;">{{filename}}</span>

{% load static %}
    <img onload="myFunction('go')" src="{% static filename %}" style="max-width:70%" style="max-height:80%">

</section>
