<section>
<a href="{{ picture.get_absolute_url }}">{{picture.title|title}}</a>
{% if picture.year %}
    <li>Year: {{ picture.year }}</li>
{% endif %}
<li>Filename: {{filename}}</li>
<li>Date added: {{picture.date_added}}</li>
{% if picture.data1 %}
    <li> {{ picture.data1}}</li>
{% endif %}
{% if picture.data2 %}
    <li> {{ picture.data2}}</li>
{% endif %}
{% if picture.data3 %}
    <li> {{ picture.data2}}</li>
{% endif %}
{% if picture.data4 %}
    <li> {{ picture.data4}}</li>
{% endif %}
<br>
</section>

<form action="" method = "get">
{% csrf_token %}
<button type="submit" name='cPrev' value={{index}}>Previous</button>
<button type="submit" name='cNext' value={{index}}>Next</button>
<button type="submit" name='slideshow' value={{index}}>SlideShow</button>
</form>

<div>{{index}} / {{pictureCount}}</div>
{% load static %}
    <img src="{% static filename %}" style="width:100%">
<br>
