
<script>
function myFunction(please_stop){
    var mtimer = setInterval( function(){ clickIt(mtimer); },6000 )
    if(please_stop === undefined){
        clearInterval(mtimer);
    }
}    
function clickIt(mtimer){ 
    var nc = document.getElementById('nextone');
    nc.click();
    clearInterval(mtimer)
    }
</script>

<form action="" method = "get">
{% csrf_token %}
    <button id='nextone' type="submit" name='sNext' value={{index}} hidden>Next</button>
</form>

<p>
<span style="float:left;">{{index}} / {{pictureCount}}</span>  
<span style="float:right;">{{picture.friendly_name}}</span>
</p>
{% load static %}
<p>
<img onload="myFunction('go')" src="{% static filename %}" style="max-width:60%">
</p>
