{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Picture
{% endblock %}

{% block content %}

<section>
<li>Title: {{picture.title|title}}</li>
{% if picture.year %}
    <li>Year: {{ picture.year }}</li>
{% endif %}
<li>Filename: {{playit}}</li>
<li>Date added: {{picture.date_added}}</li>
{% if picture.data1 %}
    <li> {{ picture.data1}}</li>
{% endif %}
{% if picture.data2 %}
    <li> {{ picture.data2}}</li>
{% endif %}
{% if picture.data3 %}
    <li> {{ picture.data2}}</li>
{% endif %}
{% if picture.data4 %}
    <li> {{ picture.data4}}</li>
{% endif %}

{% load static %}
<img src="{% static playit %}" style="width:100%">

</section>


<section>
{% if picture.tags.count %}
    <h3>Tags</h3>
    <ul id='filelist'>
    {% for tag in picture.tags.all %}
    <li><a href="{{tag.get_absolute_url}}">{{tag.name}}</a></li>
    {% endfor %}
    </ul>
{% endif %}
</section>

{% if user.is_authenticated %}
<section>
<form method="get">
{% csrf_token %}    
<fieldset>
    <legend>Tags</legend>    
    {% include "FHLBuilder/tag_select.html" %}
</fieldset>
</form>
<section>
    {% include "FHLBuilder/likesandloves.html" %}        
    {% include "FHLBuilder/object_update.html" %}        
</section>

{% endif %}
{% endblock %}
