


<section>
{% load static %}
<form action="" method = "post">
{% csrf_token %}
<button type="submit" name="vlc_plugin">VLC Plugin</button>
</form>
</section>

<section>
{% load static %}
<form action="" method = "post">
{% csrf_token %}
<button type="submit" name="StreamMovie">Stream to VLC</button>
</form>
</section>

<section>
    {% load static %}
    <video width="320" height="240" controls>
    <source src="{% static playit %}"  type="video/mp4">
    </video>
</section>

{% if vlcPlugin %}

{% load static %}
<embed type="application/x-vlc-plugin" name="video1" autoplay="yes" 
     loop="yes" width="400" height="300"target="{% static playit %}" />
     <br />
     <a href="javascript:;"  onclick='document.video1.play()'>Play video1</a>
     <a href="javascript:;"  onclick='document.video1.pause()'>Pause video1</a>
     <a href="javascript:;"  onclick='document.video1.stop()'>Stop video1</a>
     <a href="javascript:;"  onclick='document.video1.fullscreen()'>Fullscreen</a>

{% endif %}
