{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{ block.super }} generated channel
{% endblock %}

{% block content %}
{% if perms.FHLBuilder.collection_builder %}

    <h3>{{title}}</h3>

    <form action="" method = "post">
    {% csrf_token %}    
    <fieldset>
        <legend>Remove from database (does not remove files)</legend>    
        {{form.as_p}}
        <button type="submit">REMOVE FROM DATABASE</button>
    </fieldset>
    </form>


{% endif %}
{% endblock %}
