
<section>
<form action="" method = "get">
{% csrf_token %}
<fieldset>
    <legend>Playback Options</legend>    
    {% if asPlayList %}
        <button type="submit" name="filelist">As FileList</button>
    {% else %}
        <button type="submit" name="kodi_local">Kodi Playlist local</button>
        <button type="submit" name="kodi_lf">Kodi Playlist LF</button>
        <button type="submit" name="kodi_bf">Kodi Playlist BF</button>
        <button type="submit" name="playlist">HTML PlayList</button>
    {% endif %}
</fieldset>
</form>
</section>

<p>{{message}}</p>
