{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Song
{% endblock %}

{% block content %}

<section>
<h3>{{song.title}}</h3>

{% if song.musician_set.count %}
    {% for musician in song.musician_set.all %}
        <li><a href="{{musician.get_absolute_url}}">Artist: {{musician.fullName|title}}</a></li>
    {% endfor %}
{% endif %}

<li><a href="{{song.collection.get_absolute_url}}">Album: {{song.collection.title|title}}</a></li>

{% if song.year > 0 %}
    <li>Year: {{song.year}}</li>
{% endif %}
<li>Track: {{song.track}}</li>
<li>Filename: {{playit}}</li>
<li>Date added: {{song.date_added}}</li>


{% if song.tags.count %}
    <p><b>Tags:</b>
    {% for tag in song.tags.all %}
        {% if forloop.last %}
            <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
        {% else %}
            <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>, 
        {% endif %}
    {% endfor %}
</p>
{% endif %}


</section>

<section>
    {% load static %}
    <audio controls>
        <source src="{% static playit %}"  type="audio/mpeg">
    </audio>
</section>


<section>
{% include 'FHLBuilder/kodi_buttons.html' %}
</section>



{% if user.is_authenticated %}
<section>
<form method="get">
{% csrf_token %}
<fieldset>
    <legend>Tags</legend>    
    {% include "FHLBuilder/tag_select.html" %}
    {% include "FHLBuilder/musician_select.html" %}
</fieldset>
</form>
{% include "FHLBuilder/likesandloves.html" %}        
{% include "FHLBuilder/object_update.html" %}        
</section>
{% endif %}

{% endblock %}
