{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Song
{% endblock %}

{% block content %}

<h2>{{song.title}}</h2>

<section>
{% include 'FHLBuilder/kodi_buttons.html' %}
</section>
<h3>{{playit}}</h3>
<section>
    {% load static %}
    <audio controls>
        <source src="{% static playit %}"  type="audio/mpeg">
    </audio>
</section>

<section>
<ul id='filelist'>
    {% if song.musician_set.count %}
    {% for musician in song.musician_set.all %}
    <li>by: <a href="{{musician.get_absolute_url}}">{{musician.fullName|title}}</a></li>
    {% endfor %}
    {% endif %}
    <li>album: <a href="{{song.collection.get_absolute_url}}">{{song.collection.title|title}}</a></li>
    {% if song.year > 0 %}
        <li>Year: {{song.year}}</li>
    {% endif %}
    <li>Track: {{song.track}}</li>
</ul>
</section>

<section>
{% if song.tags.count %}
<h3>Tags</h3>
<ul>
{% for tag in song.tags.all %}
{% if forloop.last %}
<a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
{% else %}
<a href="{{tag.get_absolute_url}}">{{tag.name}}</a>, 
{% endif %}
{% endfor %}
</ul>
{% endif %}
</section>

{% if user.is_authenticated %}
<section>
<form method="get">
{% csrf_token %}
<fieldset>
    <legend>Tags</legend>    
    {% include "FHLBuilder/tag_select.html" %}
    {% include "FHLBuilder/musician_select.html" %}
</fieldset>
</form>
</section>
<section>
{% include "FHLBuilder/likesandloves.html" %}        
{% include "FHLBuilder/object_update.html" %}        
</section>
{% endif %}


{% endblock %}
