

{% if artists %}
    {% for musician in artists %}
        <li><a href="{{musician.get_absolute_url}}">{{musician.fullName|title}}</a></li>
    {% endfor %}
{% endif %}

{% if songlist %}
<h4>{{listTitle}}</h4>

{% if asPlayList %}
    {% load static %}
    {% for song,path in songlist %}
        {% if forloop.first %}
            <audio src="" controls id="audioPlayer">
                Sorry, your browser does not support HTML5 audio.
            </audio>
            <p></p><ul id="playlist">
            <li class="current-song"><a href="{% static path %}">{{song.friendly_name}}</a></li> 
                <span style="float:right;"><a href="{{song.get_absolute_url}}">{{song.title}}</a></span>
        {% else %}
            <li><a href="{% static path %}">{{song.friendly_name}}</a></li>
                <span style="float:right;"><a href="{{song.get_absolute_url}}">{{song.title}}</a></span>
        {% endif %}
        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}

{% else %}

    <ul>
    {% for song,path in songlist %}
        <li><a href="{{ song.get_absolute_url }}">{{song.friendly_name}} 
            <span style="float:right;">{{song.title}}</span></a></li>
    {% endfor %}
    </ul>

{% endif %}
{% endif %}

<script src="{% static 'jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'audioplay.js' %}" type="text/javascript"></script>
<script>
    // loads the audio player
    init();
    
</script>

