{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Tag List
{% endblock %}

{% block content %}

<h2>{{tag.name}}</h2>

{% if tag.song_tags.count %}
<section>
<h3>Songs associated with {{tag.name}}</h3>
<ul>
{% include "FHLBuilder/song_playlist.html" %}
</ul>
</section>
{% endif %}
{% if movielist.count %}
<section>
<h3>Movies associated with {{tag.name}}</h3>
<ul>
{% for mv in movielist %}
<li><a href="{{mv.get_absolute_url}}">{{mv.title}}</a></li>
{% endfor %}
</ul>
</section>
{% endif %}

{% endblock %}
