{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Tag List
{% endblock %}

{% block content %}

<h2>
{{tag.name}}</h2>

{% if tag.commonfile_set.count %}

<section>

<h3>Objects associated with {{tag.name}}</h3>

<ul>
<!--list of objects related to tag -->
{% for obj in tag.commonfile_set.all %}
<li><a href="">
{{obj.title}}
</a></li>
{% endfor %}
</ul>

</section>

{% else %}

<p>This tag is not related to any songs</p>

{% endif %}
<ul>
    <li><a href="{{tag.get_update_url}}">Edit Tag</a></li>
    <li><a href="{{tag.get_delete_url}}">Delete Tag</a></li>
</ul>
{% endblock %}
