{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{block.super}} - Tag List
{% endblock %}

{% block content %}

<h2>{{tag.name}}</h2>

<section>
<h3>Songs associated with {{tag.name}}</h3>
<ul>
{% for song in tag.song_tags.all %}
<li><a href="{{song.get_absolute_url}}">{{song.title}}</a></li>
{% endfor %}
</ul>
</section>
<section>
<h3>Movies associated with {{tag.name}}</h3>
<ul>
{% for mv in tag.movie_tags.all %}
<li><a href="{{mv.get_absolute_url}}">{{mv.title}}</a></li>
{% endfor %}
</ul>
</section>


<ul>
    <li><a href="{{tag.get_update_url}}">Edit Tag</a></li>
    <li><a href="{{tag.get_delete_url}}">Delete Tag</a></li>
</ul>
{% endblock %}
