{% extends parent_template|default:"FHLBuilder/base_fhlbuilder.html" %}

{% block title %}
{{ block.super }} User {{user}}
{% endblock %}

{% block content %}

<br>
<div>
<form action="" method = "get">
{% csrf_token %}
<button type="submit" name="lovedSongs">Find Songs I Love</button>
</form>
</div>
<br>

<br>
<div>
<form action="" method = "get">
{% csrf_token %}
<button type="submit" name="likedSongs">Find Songs I Like</button>
</form>
</div>
<br>


<br>
<div>
<form action="" method = "get">
{% csrf_token %}
<button type="submit" name="lovedMovies">Find Movies I Love</button>
</form>
</div>
<br>

<br>
<div>
<form action="" method = "get">
{% csrf_token %}
<button type="submit" name="likedMovies">Find Movies I Like</button>
</form>
</div>
<br>


<section>
{% if songlist %}
<h3>My Songs</h3>
{% include "FHLBuilder/song_playlist.html" %}</ul>
</section>
{% endif %}
{% if movielist %}
<section>
<h3>My Movies</h3>
{% for movie in movielist %}
<li><a href="{{movie.get_absolute_url}}">{{movie.title|title}}</a></li>
{% endfor %}
</section>
{% endif %}
<p>{{message}}</p>


{% endblock %}
